<p><b>Hello, <%= @user.full_name %></b></p>
<br>
<p>We just processed your transaction. Here follows the details:<p>
<ul><b>Description:</b> <%= @transaction.description %></ul>
<ul><b>Amount:</b> <%= @transaction.amount %></ul>
<ul><b>Type:</b> <%= @transaction.type %></ul>
<ul><b>Occurred at:</b> <%= @transaction.inserted_at %></ul>
